$base: #eff1e9;
$main: #40f927;
$brown: #2740f9;
$back: #7727f9;
body {
  margin: 0;
  padding: 0;
  // overflow: hidden;
  // background: $base;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Open Sans", sans-serif;
}

header {
  z-index: 200;
  background: $back;
  color: $base;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  & > div {
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > .menu {
      display: flex;
      @media screen and (max-width: 620px) {
        display: none;
      }
      & > li {
        margin: 0 10px;
        position: relative;
        cursor: pointer;
        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 3px;
          width: 0px;
          background: $base;
          transition: width 0.5s;
          content: "";
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

#body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  & > * {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > #main {
    position: relative;

    background: rgba(39, 64, 249, 0.5);
    & > .current {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      & > span {
        font-size: 3.4rem !important;
      }
      cursor: pointer;
      animation: test 0.8s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      color: white;
      text-shadow: 3px 3px 3px rgba(17, 16, 16, 0.5);
    }
    & > p {
      font-size: 2.3rem;
      font-family: "Noto Sans KR", sans-serif;
      color: white;
      text-shadow: 3px 3px 3px rgba(17, 16, 16, 0.5);
    }
  }
  & > #mydata {
    flex-direction: column;
    & > div {
      overflow: hidden;
      border-radius: 100%;
      max-width: 240px;
      max-height: 240px;
    }
    & > #details {
      line-height: 1.4rem;
      font-size: 1.2rem;
      font-weight: 400;
      & > li {
        margin: 10px 0;
      }
    }
  }
  & > .myintro {
    padding: 0 10%;
    & > p {
      font-size: 1.15rem;
      font-weight: 500;
      padding: 0 5%;
      text-align: center;
    }
  }
  & > .contents {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
  }
}
@keyframes test {
  from {
    transform: translate(-50%, 15px);
  }
  to {
    transform: translate(-50%, -10px);
  }
}
footer {
  width: 100%;
  background: rgba(138, 139, 148, 0.5);
  color: #fff;
  & > div {
    max-width: 80%;
    height: 100%;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > ul {
      line-height: 1.8rem;
    }
  }
}
.sns {
  display: flex;
  & > * {
    margin: 0 3px;
    & > * {
      width: 36px;
      height: 36px;
      font-size: 36px;
    }
  }
}
.facebook {
  color: black;
}
